.footer {
  color: #202020;
  font-family: merlo, georgia, serif;
  font-size: 14px;
  line-height: 1.42857;
  box-sizing: inherit;
  background: #fff;
  min-height: 200px;
  padding: 83px 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  text-align: center;
  z-index: 1;
  border-top: 1px dotted black;
}